[user]
	email = john.paul.abrams@gmail.com
	name = Paul Abrams
[init]
	defaultbranch = trunk
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[pull]
	rebase = false
